<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.wheresming.review.ReviewDAO">
	<insert id="insert" parameterType="com.wheresming.review.ReviewDTO">	
	INSERT INTO t_comment (mv_seq, cmt_content, cmt_date, mb_nick, mb_id, cmt_likes, cmt_score) 
	VALUES (#{mv_seq}, #{cmt_content}, SYSDATE, #{mb_nick}, #{mb_id}, #{cmt_likes}, #{cmt_score})
	</insert>
	<select id="selectList" parameterType="int" resultType="com.wheresming.review.ReviewViewerDTO">
	SELECT MV_SEQ, CMT_CONTENT, MB_NICK, CMT_DATE, CMT_LIKES
	FROM T_COMMENT
	WHERE MV_SEQ = #{mv_seq}
	ORDER BY CMT_LIKES DESC
	</select>
	<select id="selectCount" parameterType="int">
	SELECT COUNT(*)
	FROM T_COMMENT
	WHERE MV_SEQ = #{mv_seq}
	</select>
</mapper>