<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.wheresming.search.SearchingDAO">
	
	<select id="selectAllList" parameterType="String" resultType="com.wheresming.movie.MovieDTO">
		SELECT mv_image, mv_seq, mv_genre FROM T_MOVIE WHERE MV_TITLE LIKE '%'||#{mv_title}||'%' and mv_image is not null
	</select>
	
	<select id="selectPoster" parameterType="com.wheresming.movie.MovieDTO" resultType="com.wheresming.movie.MovieDTO">
		SELECT * FROM T_MOVIE WHERE MV_SEQ=#{mv_seq}
	</select>
	
	<select id="recommend" parameterType="String" resultType="com.wheresming.movie.MovieDTO">
		SELECT mv_image, mv_seq, mv_genre FROM T_MOVIE WHERE MV_GENRE=#{mv_genre} and mv_image is not null
	</select>
</mapper>