<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.wheresming.pick.UploadDAO">
	<update id="folderUpload" parameterType="com.wheresming.pick.UploadPickListDTO">
	UPDATE T_WISHLIST
	SET OPEN_YN = 'Y'
	WHERE MB_ID = #{mb_id} AND FD_NAME = #{fd_name}
	</update>
	<select id="folderLikes" resultType="com.wheresming.pick.UploadPickListDTO">
	SELECT MB_NICK, FD_NAME, FD_LIKES
	FROM T_WISHLIST
	WHERE OPEN_YN = 'Y'
	ORDER BY FD_LIKES DESC
	</select>
	<select id="folderNew" resultType="com.wheresming.pick.UploadPickListDTO">
	SELECT W.MB_NICK, W.FD_NAME, W.FD_LIKES, M.MV_IMAGE
	FROM T_WISHLIST W, T_MOVIE M
	WHERE OPEN_YN = 'Y'
	AND W.MV_SEQ = M.MV_SEQ
	ORDER BY FD_CDATE DESC
	</select>
	
	<select id="folderLikeImage" resultType="com.wheresming.pick.UploadPickListDTO">
	SELECT W.MB_NICK, W.FD_NAME, W.FD_LIKES, M.MV_IMAGE
	FROM T_WISHLIST W, T_MOVIE M
	WHERE W.OPEN_YN = 'Y'
    AND W.MV_SEQ = M.MV_SEQ
	ORDER BY FD_LIKES DESC
	</select>
	
</mapper>