<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JoinCon</servlet-name>
  	<display-name>JoinCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.contrlloer.JoinCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCon</servlet-name>
  	<display-name>LoginCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.contrlloer.LoginCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logoutCon</servlet-name>
  	<display-name>logoutCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.contrlloer.logoutCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCon</servlet-name>
  	<display-name>UpdateCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.contrlloer.UpdateCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DelectCon</servlet-name>
  	<display-name>DelectCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.contrlloer.DelectCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MessageSend</servlet-name>
  	<display-name>MessageSend</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.contrlloer.MessageSend</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InfoEdit</servlet-name>
  	<display-name>InfoEdit</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.member.InfoEdit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.member.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.member.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyPage</servlet-name>
  	<display-name>MyPage</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.member.MyPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveMember</servlet-name>
  	<display-name>RemoveMember</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.member.RemoveMember</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Signin</servlet-name>
  	<display-name>Signin</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.member.Signin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MovieList</servlet-name>
  	<display-name>MovieList</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.movie.MovieList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OttSite</servlet-name>
  	<display-name>OttSite</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.movie.OttSite</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddPick</servlet-name>
  	<display-name>AddPick</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.pick.AddPick</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BestPickList</servlet-name>
  	<display-name>BestPickList</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.pick.BestPickList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreatePickList</servlet-name>
  	<display-name>CreatePickList</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.pick.CreatePickList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletePick</servlet-name>
  	<display-name>DeletePick</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.pick.DeletePick</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DropPickList</servlet-name>
  	<display-name>DropPickList</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.pick.DropPickList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditPickList</servlet-name>
  	<display-name>EditPickList</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.pick.EditPickList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyPickListViewer</servlet-name>
  	<display-name>MyPickListViewer</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.pick.MyPickListViewer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadPickList</servlet-name>
  	<display-name>UploadPickList</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.pick.UploadPickList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddReview</servlet-name>
  	<display-name>AddReview</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.review.AddReview</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Daum</servlet-name>
  	<display-name>Daum</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.review.Daum</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteReview</servlet-name>
  	<display-name>DeleteReview</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.review.DeleteReview</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditReview</servlet-name>
  	<display-name>EditReview</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.review.EditReview</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Naver</servlet-name>
  	<display-name>Naver</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.review.Naver</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReviewViewer</servlet-name>
  	<display-name>ReviewViewer</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.review.ReviewViewer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Searching</servlet-name>
  	<display-name>Searching</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.search.Searching</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddReviews</servlet-name>
  	<display-name>AddReviews</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.review.AddReviews</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Top50bottom</servlet-name>
  	<display-name>Top50bottom</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.movie.Top50bottom</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Update</servlet-name>
  	<display-name>Update</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.member.Update</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchMovie</servlet-name>
  	<display-name>SearchMovie</display-name>
  	<description></description>
  	<servlet-class>com.wheresming.search.SearchMovie</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JoinCon</servlet-name>
  	<url-pattern>/JoinCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCon</servlet-name>
  	<url-pattern>/LoginCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logoutCon</servlet-name>
  	<url-pattern>/logoutCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCon</servlet-name>
  	<url-pattern>/UpdateCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DelectCon</servlet-name>
  	<url-pattern>/DelectCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MessageSend</servlet-name>
  	<url-pattern>/MessageSend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InfoEdit</servlet-name>
  	<url-pattern>/InfoEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyPage</servlet-name>
  	<url-pattern>/MyPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveMember</servlet-name>
  	<url-pattern>/RemoveMember</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Signin</servlet-name>
  	<url-pattern>/Signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MovieList</servlet-name>
  	<url-pattern>/MovieList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OttSite</servlet-name>
  	<url-pattern>/OttSite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPick</servlet-name>
  	<url-pattern>/AddPick</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BestPickList</servlet-name>
  	<url-pattern>/BestPickList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreatePickList</servlet-name>
  	<url-pattern>/CreatePickList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletePick</servlet-name>
  	<url-pattern>/DeletePick</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DropPickList</servlet-name>
  	<url-pattern>/DropPickList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditPickList</servlet-name>
  	<url-pattern>/EditPickList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyPickListViewer</servlet-name>
  	<url-pattern>/MyPickListViewer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadPickList</servlet-name>
  	<url-pattern>/UploadPickList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddReview</servlet-name>
  	<url-pattern>/AddReview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Daum</servlet-name>
  	<url-pattern>/Daum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteReview</servlet-name>
  	<url-pattern>/DeleteReview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditReview</servlet-name>
  	<url-pattern>/EditReview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Naver</servlet-name>
  	<url-pattern>/Naver</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReviewViewer</servlet-name>
  	<url-pattern>/ReviewViewer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Searching</servlet-name>
  	<url-pattern>/Searching</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddReviews</servlet-name>
  	<url-pattern>/AddReviews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Top50bottom</servlet-name>
  	<url-pattern>/Top50bottom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Update</servlet-name>
  	<url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchMovie</servlet-name>
  	<url-pattern>/SearchMovie</url-pattern>
  </servlet-mapping>
</web-app>
